.hero-container {
  height: 80vh;
  width: 100vw;
}

.hero-box {
  display: flex;
  flex-direction: row;
  max-width: 1100px;
  margin: 0 auto;
  padding: 8em 0 0 0;
}

.hero-text {
  color: var(--white);
  width: 90%;
}

h4 {
  padding-top: 2rem;
}

.column-1 {
  flex: 1;
  width: 50%;
  margin: 0;
}

.column-2 {
  flex: 1;
  width: 50%;
  margin: 0;
}

button {
  text-align: left;
  margin-top: 2rem;
  padding-left: 2rem;
  width: 15rem;
  height: 5rem;
  border: 3px solid transparent;
  border-radius: 50px;
  background: linear-gradient(
      to right,
      var(--dark-main-color),
      var(--dark-main-color)
    ),
    var(--blue-gradient);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

button h3 {
  background: var(--blue-gradient);
  background-size: 100%;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
